/*
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";
 // @import "font-awesome-sprockets";
 // @import "font-awesome";

body {
    font-family: "Roboto";
    color: #fff;
    margin-bottom: 60px;
    background: url("http://auto4n.com/img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
