<!DOCTYPE html>
<html>
  <head>
    <title>Auto4n Mockup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Include Material Icons instead of Font Awesome? -->
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="auto4n">
    <%= yield %>
  </body>
</html>
